<% include partials/header %>

<div class="container">

  <% camps.forEach((camp) =>{ %>
    <div class="content">
      <h4><a href="/campgrounds/<%= camp._id %>"><%= camp.title %></a></h4>
      <img src="<%= camp.image %>" alt="">
    </div>
  <% }); %>

</div>

<% include partials/footer %>
