<% include partials/header %>

<h1>Add new Campground</h1>
<a href="/campgrounds">Back to Camps</a>
<form action="/campgrounds" method="POST">
  <input type="text" name="name" placeholder="Add name here">
  <input type="text" name="image" placeholder="Add image here">
  <input type="submit">
</form>

<% include partials/footer %>
