<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <title>Yelp Camp</title>
  <style>

    ul li a {
      color: #fff;
    }
    ul li a:hover {
      color: #eee;
    }
    .content {
      margin-top: 30px;
    }
    input, .mg {
      margin-top: 10px;
    }

    body {
      min-height: 75rem; /* Can be removed; just added for demo purposes */
    }

    .navbar {
      margin-bottom: 0;
    }

    .jumbotron {
      padding-top: 3rem;
      padding-bottom: 3rem;
      margin-bottom: 0;
      background-color: #fff;
    }

    .jumbotron p:last-child {
      margin-bottom: 0;
    }

    .jumbotron-heading {
      font-weight: 300;
    }

    .album {
      min-height: 50rem; /* Can be removed; just added for demo purposes */
      padding-top: 3rem;
      padding-bottom: 3rem;
      background-color: #f7f7f7;
    }

    .card {
      float: left;
      width: 33.333%;
      padding: .75rem;
      margin-bottom: 2rem;
      border: 0;
    }

    .card > img {
      margin-bottom: .75rem;
    }

    .card-text {
      font-size: 85%;
    }

    footer {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    footer p {
      margin-bottom: .25rem;
    }

  </style>
</head>
<body>

  <nav class="navbar navbar-toggleable-lg navbar-inverse bg-inverse">
    <div class="container">

      <ul class="navbar-nav">
        <li class="nav-item active"><a class="nav-link navbar-brand" href="/">Yelp Camp</a></li>
        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
      </ul>

    </div>
  </nav>
