<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <title>Yelp Camp</title>
  <style>

    ul li a {
      color: #fff;
    }
    ul li a:hover {
      color: #eee;
    }
    .content {
      margin-top: 30px;
    }
    input, .mg {
      margin-top: 10px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse bg-inverse">
  <div class="container">

    <a class="navbar-brand float-left" href="/">Yelp Camp</a>

    <ul class="nav">
      <li class="nav-item active">
        <a class="nav-link" href="/campgrounds">Campgrounds</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/campgrounds/new">Add New Camp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>

  </div>

</nav>
